#framer{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#switcher_control{
  display: inline-block;
  float: right;
}

#switcher_navigation{
  display: inline-block;
}

div.nofloat{
  float: none;
}

.row > .nofloat {
  display: block;
  float: none;
  margin-left: 20px;
}

.fillscreen{
  height: 78%;
}